---
import Header from "../components/Header/index.vue";
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.vue";
import GlobalStyles from "../components/GlobalStyles.astro";
import Navigation from "../components/Header/Navigation.vue";
import Navbar from "../components/Header/Navbar.vue";
import Hero from "../components/Header/Hero.vue";
import Logo from "../components/Logo.vue";
import About from "../components/About/index.vue";
import Features from "../components/Features/index.vue";
import Courses from "../components/Courses/index.vue";
import CourseCard from "../components/CourseCard.vue";
import FeatureCard from "../components/FeatureCard.vue";
import Cta from "../components/Cta/index.vue";
import Testimonials from "../components/Testimonials/index.vue";
import type { Course } from "../components/CourseCard.vue";
import { contentfulClient } from "../lib/contentful";
import VideoSlider from "../components/VideoSlider.vue";
import Footer from "../components/Footer/index.vue";

const courses = await contentfulClient.getEntries({ content_type: "course" });
let courseVariant: "single" | "multiple" = "multiple";
if (courses.total === 1) {
  courseVariant = "single";
}
const videos = await contentfulClient.getEntries({
  content_type: "testimonialVideo",
});
const features = [
  {
    url: "/icons/feature-1-icon.svg",
    alt: "Decorative Icon: flower icon",
    title: "Conteúdo personalizado",
    description:
      "Todos os conteúdos apresentados na mentoria se adaptam a sua necessidade.",
  },
  {
    url: "/icons/feature-2-icon.svg",
    alt: "Decorative Icon: heart icon",
    title: "Material incluso",
    description:
      "Materiais sem custos adicionais. Aprenda inglês de forma rápida e sem surpresas no fim do mês.",
  },
  {
    url: "/icons/feature-3-icon.svg",
    alt: "Decorative Icon: smile icon",
    title: "Qualidade do presencial",
    description:
      "Aulas online com a mesma qualidade e resultados do ensino presencial.",
  },
];
---

<Layout>
  <GlobalStyles />
  <header>
    <Container variant="neutral-white">
      <Navbar client:load>
        <Logo />
        <Navigation client:load />
      </Navbar>
      <Header>
        <Hero client:load />
      </Header>
    </Container>
  </header>
  <main>
    <Container variant="white">
      <About />
    </Container>
    {
      !!courses.total && (
        <Container variant="neutral-white">
          <Courses variant={courseVariant}>
            {courses.items?.map((course) => {
              return (
                <CourseCard
                  client:visible
                  data={course.fields as Course}
                  id={course.sys.id}
                />
              );
            })}
          </Courses>
        </Container>
      )
    }
    <Container variant="white">
      <Features>
        {
          features.map((feature) => (
            <FeatureCard
              title={feature.title}
              description={feature.description}
            >
              <img class="feature-img" src={feature.url} alt={feature.alt} />
            </FeatureCard>
          ))
        }
      </Features>
    </Container>
    <Cta />
    {
      !!videos.total && (
        <Container variant="white">
          <Testimonials>
            <VideoSlider client:visible items={videos.items} />
          </Testimonials>
        </Container>
      )
    }
  </main>
  <Footer>
    <div class="footer-logo">
      <Logo />
    </div>
    <div class="footer-description">
      <p>
        Cursos de inglês online para os níveis básico, intermediário ou avançado
        de maneira eficaz e fácil.
      </p>
    </div>
    <hr class="footer-divider" />
    <div class="footer-socials">
      <a href="https://www.tiktok.com/@englishwithleob" target="_blank">
        <img
          width="24"
          height="25"
          alt="Tiktok brand"
          src="/icons/tiktok-gray-icon.svg"
        />
      </a>
      <a href="https://www.instagram.com/leobeghine" target="_blank">
        <img
          width="24"
          height="25"
          alt="Instagram brand"
          src="/icons/instagram-gray-icon.svg"
        />
      </a>
    </div>
    <div class="footer-copyright">© 2023<br />Brito.top</div>
  </Footer>
</Layout>
<script define:vars={{ courses }}>
  courses.items?.map((course) => {
    const script = document.createElement("script");
    script.setAttribute("type", "application/ld+json");
    script.innerText = JSON.stringify({
      "@context": "https://schema.org/",
      "@type": "Course",
      hasCourseInstance: {
        "@type": "CourseInstance",
        courseMode: ["online"],
        instructor: {
          "@type": "Person",
          jobTitle: "Professor de inglês",
          name: "Leo Beghine",
        },
        offers: {
          "@type": "Offer",
          offeredBy: "Hotmart",
          price: String(course.fields.cost),
        },
      },
      name: course.fields.title,
    });
    document.head.appendChild(script);
  });
</script>
